@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",Verdana, Geneva, Tahoma, sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(40deg,violet,plum,blueviolet,rgb(101, 18, 179), purple );
  color: white;
  
  /* background-color: purple; */
  /* background: linear-gradient(100deg, violet,blueviolet, purple); */
}


