*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: purple;
  background: linear-gradient(100deg, violet,blueviolet, purple);
  color: white;
}


