.output-box{
    height: 40vh;
    width: 60vw;
    margin: 1vh 20vw;
    backdrop-filter: blur(10vmax);
    border-radius: 2vmax;
    text-align: justify;
    
    /* border: 2px solid black; */
}

.output-box p{
    text-align: justify;
    padding: 1vh;
    margin: 1vh;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: poppins, "open sans", sans-serif;
    
}

#op-box-btn { 
    position: absolute;
    bottom: 10%;
    right: 5%;
    background-color: purple;
    color: white;
    padding: 1vh 1vw;
    border: none;
    border-radius: 1vmax;
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
}